.chart-container {
    margin-left: 130px;
    justify-content: center;
    align-items: center;
    height: 350px;
    position: relative;
  }
  

.chart-container .line-chart {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  